@import 'src/assets/scss/variables.scss';

.list {
    text-align: center;

    &_dash{
        margin-left: 1.5rem;
        @media screen and (min-width: $sm) {
            margin-left: 12rem;   
        }
    }
}