@import '../../../app.component.scss';

.Sidebar {
    background-color: #ffffff;
    position: absolute;

    &__item {
        span {
            margin-left: .75rem;
        }

        & :hover {
            color: $color-primary;
        }
    }

    a {
        color: #999999;
    }
}