@import '../../../../assets/scss/variables.scss';

.sidebar {
    background-color: #ffffff;
    position: fixed;
    height: 100%;

    &_item {
        .a {
            color: #999999;
        }
        
        &--name {
            margin-left: .75rem;
        }

        & :hover {
            color: $color-primary;
        }
    }
}